<html>
  <h1>Hello World</h1>
  <div id="app">
    {{ message }}

    <input placeholder="Put in a number to cube" v-model="numberInput" />
    {{ squared }}

    <br />
    <textarea v-model="playersString"></textarea>
    <div v-for="player in players">*{{ player }}</div>

    <div v-for="[player1, player2] in pairedPlayers">
      {{ player1 }} vs {{ player2 }}
    </div>
    <button @click="addPlayers">Add 2 new players to playersString</button>

    <div v-for="(pairing, i) in pairings">
      #{{ i + 1 }}:
      <input v-model="pairings[i]" />
    </div>

    {{ pairingsSummed }}
  </div>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      playersString: "Austin, Derek, Joanne, Sinclair", // Comma-separated list of players
      message: "Hello Vue!",
      numberInput: 0,
      rounds: 3,
      pairings: Array(3).fill("dummy"),
    },
    methods: {
      addPlayers() {
        this.playersString += ", Shawn, Eric";
      },
    },
    computed: {
      squared() {
        return this.numberInput ** 2;
      },
      pairingsSummed() {
        return this.pairings.join(" -- ");
      },
      players() {
        return this.playersString.split(", ");
      },
      pairedPlayers() {
        const result = [];
        // Retuns a list of length 2 lists: [["Austin", "Derek"] , ["Joanne", "Sinclair"]]
        for (let i = 0; i < this.players.length; i += 2) {
          result.push([this.players[i], this.players[i + 1]]);
        }
        return result;
      },
    },
  });
</script>
